hr{
    height: 5px;
    background: cornflowerblue;
}

body{
    background: #c7c7c7;
}
div[class|="col"]{
    border:1px solid #000;
    background: #fff;
    text-align: center;
    padding: 1%;
}
